.hero-home{
    // background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background: url('../images/fondo3.png');
    padding-top: 20px;
    height: 50vh;
    background-blend-mode: lighten;
    background-color: rgb(245, 245, 245, 2);
    background-size: cover;
       
}

.logo-hero{
    z-index: 1;
}

.particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.seccion-1{
    background: url('../images/mudra1.png');
    background-size: cover;
    margin-top: -220px;
    height: 90vh;
}

.fade-mask {
    --fade-amount: 15%;
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount),black calc(80% - var(--fade-amount)),black calc(30% - var(--fade-amount)),black calc(10% - var(--fade-amount)), transparent);
}


// DISCOGRAPHY
.s-discography{

    .card-disco{
        
        position: relative;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: red;
        background-clip: border-box;
        border: 0.5px solid black;
        margin: 10px;

        img{
            width: 100%;
            height: auto;
        }

        .card-body{
            position: absolute;
            bottom: 10px;
            padding: 20px;
        }

        &.disable{
            opacity: 0; /* Hace que el div sea transparente */
        }
    }

    
;
    

}